In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [27]:
df = pd.read_csv("C:/Users/Damodhara/Desktop/Desktop/MACHINE LEARNING/House price prediction.csv")

In [28]:
df.head()

     area  bedrooms   age     price
0  2600.0       3.0  20.0  550000.0
1  3000.0       4.0  15.0  565000.0
2  3200.0       NaN  18.0  610000.0
3  3600.0       3.0  30.0  595000.0
4  4000.0       5.0   8.0  760000.0

In [29]:
df.bedrooms.median()

4.0

In [40]:
df.isnull().sum()

area        2
bedrooms    0
age         2
price       2
dtype: int64

In [48]:
df2=df.dropna()

In [49]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [50]:
reg = linear_model.LinearRegression()

In [51]:
df2.head()

     area  bedrooms   age     price
0  2600.0       3.0  20.0  550000.0
1  3000.0       4.0  15.0  565000.0
2  3200.0       4.0  18.0  610000.0
3  3600.0       3.0  30.0  595000.0
4  4000.0       5.0   8.0  760000.0

In [52]:

reg = linear_model.LinearRegression()
reg.fit(df2.drop('price',axis='columns'),df2.price)

LinearRegression()

In [53]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [54]:
reg.intercept_

221323.00186540384

#Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

In [55]:
reg.predict([[3000, 4, 40]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([521797.13165825])

In [56]:
112.06244194*3000 + 23388.88007794*4 + -3231.71790863*40 + 221323.00186540384

521797.1316519638