In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:/Users/Damodhara/Desktop/DSMP/IMDB Dataset.csv")

In [4]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [6]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [7]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [8]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

#Text Cleaning

1.Sample 10000 rows
2.Remove html tags
3.Remove Special Characters 
4.Converting every thing to lower case 
5.Removing stop words 
6.Stemming

In [9]:
df=df.sample(10000)

In [11]:
df.shape

(10000, 2)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 18991 to 12471
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [13]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [14]:
df.head()

                                                  review  sentiment
18991  From the first to the last scene of the movie,...          1
30362  I was prepared for a bad movie, and a bad movi...          0
7931   I had not seen this movie since the late '80s ...          1
1722   My mother worked with Dennis L. Raider for ele...          0
23307  This four-hour miniseries production is about ...          0

In [15]:
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

'I had not seen this movie since the late \'80s and decided to pick up the VHS version of it. The plot is very slow, and the actors almost seem robotic in this breakdance flick. The music, hip hop/freestyle artists and the breakdancing scenes are what make this movie special. The breakdancing is actually better in this movie than in "Breakin\'", but I have to say that "Breakin\' 1&2" carry the energy & excitement to the screen a lot better. It\'s a movie I will keep in my library, but it\'s not a movie that I can watch over & over again, just once in a blue moon.'

In [16]:
# Function to clean html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [17]:
df['review']=df['review'].apply(clean_html)

In [18]:
# converting everything to lower

def convert_lower(text):
    return text.lower()

In [19]:
df['review']=df['review'].apply(convert_lower)

In [20]:
# function to remove special characters

def remove_special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x + ' '
    return x

In [21]:
remove_special(' th%e @ classic use of the word.it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare. forget pretty pictures painted for mainstream audiences, f')

' th e   classic use of the word it is called oz as that is the nickname given to the oswald maximum security state penitentary  it focuses mainly on emerald city  an experimental section of the prison where all the cells have glass fronts and face inwards  so privacy is not high on the agenda  em city is home to many  aryans  muslims  gangstas  latinos  christians  italians  irish and more    so scuffles  death stares  dodgy dealings and shady agreements are never far away i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare  forget pretty pictures painted for mainstream audiences  f'

In [22]:
df['review']=df['review'].apply(remove_special)

In [23]:
# Remove the stop words
import nltk

In [28]:
from nltk.corpus import stopwords

In [30]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Damodhara\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [31]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [32]:
df

                                                  review  sentiment
18991  from the first to the last scene of the movie ...          1
30362  i was prepared for a bad movie  and a bad movi...          0
7931   i had not seen this movie since the late  80s ...          1
1722   my mother worked with dennis l  raider for ele...          0
23307  this four hour miniseries production is about ...          0
...                                                  ...        ...
18046  it surprises me how much i love this movie des...          1
32093  superb comic farce from paul mazursky  richard...          1
39627  terrible  there s no way to get around it  a s...          0
46281  this movie is more lupin then most  especially...          1
12471  the most moving and truly eye opening document...          1

[10000 rows x 2 columns]

In [33]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [34]:
df['review']=df['review'].apply(remove_stopwords)

In [35]:
df

                                                  review  sentiment
18991  [first, last, scene, movie, director, visconti...          1
30362  [prepared, bad, movie, bad, movie, guess, comp...          0
7931   [seen, movie, since, late, 80s, decided, pick,...          1
1722   [mother, worked, dennis, l, raider, eleven, ye...          0
23307  [four, hour, miniseries, production, two, hour...          0
...                                                  ...        ...
18046  [surprises, much, love, movie, despite, fact, ...          1
32093  [superb, comic, farce, paul, mazursky, richard...          1
39627  [terrible, way, get, around, script, level, on...          0
46281  [movie, lupin, especially, coming, funimation,...          1
12471  [moving, truly, eye, opening, documentary, eve...          1

[10000 rows x 2 columns]

In [36]:
# Perform stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [37]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [38]:
stem_words(['I','loved','loving','it'])

['i', 'love', 'love', 'it']

In [39]:
df['review']=df['review'].apply(stem_words)

In [40]:
# Join back

def join_back(list_input):
    return " ".join(list_input)

In [41]:
df['review']=df['review'].apply(join_back)

In [42]:
df['review']

18991    first last scene movi director visconti excel ...
30362    prepar bad movi bad movi guess complain twenty...
7931     seen movi sinc late 80 decid pick vh version p...
1722     mother work denni l raider eleven year mention...
23307    four hour miniseri product two hour longer nec...
                               ...
18046    surpris much love movi despit fact realli like...
32093    superb comic farc paul mazurski richard dreyfu...
39627    terribl way get around script level one mexica...
46281    movi lupin especi come funim bad dub bad first...
12471    move truli eye open documentari ever creat cri...
Name: review, Length: 10000, dtype: object

In [43]:
X=df.iloc[:,0:1].values

In [44]:
X.shape

(10000, 1)

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=2500)

In [46]:
X=cv.fit_transform(df['review']).toarray()

In [47]:
X.shape

(10000, 2500)

In [48]:
X[0].mean()

0.0472

In [49]:
y=df.iloc[:,-1].values

In [50]:
y.shape

(10000,)

In [51]:
# X,y
# Training set
# Test Set(Already know the result)

In [52]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [53]:
X_train.shape

(8000, 2500)

In [54]:
X_test.shape

(2000, 2500)

In [55]:
y_train.shape

(8000,)

In [56]:
y_test.shape

(2000,)

In [57]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [58]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [59]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [60]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [61]:
y_test.shape

(2000,)

In [62]:
y_pred1.shape

(2000,)

In [63]:
from sklearn.metrics import accuracy_score

In [64]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.76
Multinomial 0.847
Bernaulli 0.858